.cut {
    height:fit-content;
    width:fit-content;
}

.grid-container {
    display: grid;
    height:fit-content;
    width:fit-content;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 30px;
    text-align: center;
}


.error{
    color: #D8000C;
    background-color: #FFBABA;
}