{% extends 'index.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/iofrm-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/iofrm-theme6.css' %}">
{% endblock style %}

<head>
    {% block title %}Change Password{% endblock title %}
    {% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    
    <script>

        window.onload = function () {
            enable_button();
        }
    </script>
    {% endblock head %}
</head>


{% block body %}

<body onload="check_email(event)">
    <form action="" id="reset_pass_form" method="post">
        {% csrf_token %}

        <h2 id="head_pass">Old Password : </h2>
        <p id="info"></p>
        <p id="time"></p>
        <p id="y"></p>
            </div>
        <div class="form-button">
            <div class="grid-container" id='images'>
                {% include 'grid.html' %}
            </div>
            <button id="next" style="margin-left: 5px;" type="button" class="ibtn" onclick="nxt()">Next</button>
        </div>
        <div class="Reset_Password" id="reset_pswd" hidden>
            <button style="margin: 16px;" id="reload_image" type="button" class="ibtn"
                onclick="func1(event)">Change-image</button>
            <button style="margin: 16px;" id="confirm_image" type="button" class="ibtn"
                onclick="conf_img()">confirm-image</button>
            <button style="margin: 16px;" id="register_btn" type="submit" class="ibtn"
                hidden>change Password</button>
        </div>
    </form>
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/common_js.js' %}"></script>
<script src="{% static 'js/change_user_password.js' %}"></script>

<script>
    var csrf_token = '{{ csrf_token }}';
</script>
{% endblock body %}