{% extends 'index.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/iofrm-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/iofrm-theme6.css' %}">
{% endblock style %}

<head>
    {% block title %}Change Password{% endblock title %}
    {% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>

        function disable_button() {
            var imagesList = document.getElementsByClassName('img_btn');
            for (var i = 0; i < imagesList.length; i++) {
                imagesList[i].disabled = true;
            }
        }
        function enable_button() {
            var imagesList = document.getElementsByClassName('img_btn');
            for (var i = 0; i < imagesList.length; i++) {
                imagesList[i].disabled = false;
            }
        }
        window.onload = function () {
            enable_button();
        }
    </script>
    {% endblock head %}
</head>


{% block body %}

<body onload="check_email(event)">
    <form action="" id="reset_pass_form" method="post">
        {% csrf_token %}

        <h2 id="head_pass">Old Password : </h2>
        <p id="info"></p>
        <p id="time"></p>
        <p id="y"></p>
            </div>
        <div class="form-button">
            <div class="grid-container" id='images'>
                {% include 'grid.html' %}
            </div>
            <button id="next" style="margin-left: 5px;" type="button" class="ibtn" onclick="nxt()">Next</button>
        </div>
        <div class="Reset_Password" id="reset_pswd" hidden>
            <button style="margin: 16px;" id="reload_image" type="button" class="ibtn"
                onclick="func1(event)">Change-image</button>
            <button style="margin: 16px;" id="confirm_image" type="button" class="ibtn"
                onclick="shuffle(event)">confirm-image</button>
            <button style="margin: 16px;" id="register_btn" type="submit" class="ibtn"
                hidden>change Password</button>
        </div>
    </form>
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    var gpwd_set = new Set();
    var pswd1 = '';
    var pswd2 = '';
    var y=document.getElementById("y");
    function func1(event)
    {
        event.preventDefault();
        $('.grid-container').html('').load(
            "{% url 'new_random_img' %}"
        );
    }



    function shuffle(event) {
        
        console.log(gpwd_set.size);
        if (gpwd_set.size<3)
        {
            y.innerHTML = "please select at least 3 images";
            y.style.color='red';
        }
        else
        {
            y.innerHTML='';
            pswd1 = Array.from(gpwd_set);
            gpwd_set.clear();
            console.log("hello");
            document.getElementById('reload_image').hidden = true;
            document.getElementById('confirm_image').hidden = true;
            document.getElementById('register_btn').hidden = false;
            document.getElementById('info').innerHTML = 'now select any three images and remember their order. that will be your password!';
            event.preventDefault();
            $('.grid-container').html('').load(
                "{% url 'shuffle_img' %}"
            );
            timer();
        }

    }

    function blur_img() {
        var imagesList = document.getElementsByClassName('grid-img');
        for (var i = 0; i < imagesList.length; i++) {
            imagesList[i].style.filter = 'blur(5px)';
        }
    }


    function haltFunction() {
        clearInterval(timeValue);
    }

    function startTimer(duration, display) {
        var timer = duration;
        timeValue = setInterval(function () {
            seconds = parseInt(timer);
            disable_button();
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.textContent = 'in ' + seconds + " seconds , images will become blur!";

            if (timer == 0) {
                enable_button();

                blur_img(); haltFunction(); return;
            }
            --timer;

        }, 1000);
        return;
    }

    function timer() {
        var fiveMinutes = 10,
            display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };

    

    function onSelect(r, c) {
        var imagesList = document.getElementsByClassName('img_btn');
        var x = imagesList[2].disabled;
        var res = r.toString() + c.toString();
        if (!x) {
            if (gpwd_set.has(res)) {
                gpwd_set.delete(res);
                document.getElementById(res).style.opacity = 1;
            } else {
                gpwd_set.add(res);
                document.getElementById(res).style.opacity = 0;
            }
        }
    }


    function check_email(event) {
        $.ajax({
            url: "{% url 'shuffle_login_img' %}",
            type: "POST",
            data: {
                email: '{{user.email}}',
                csrfmiddlewaretoken: '{{ csrf_token }}', //This is must for security in Django
            }, // data sent with the post request

            // handle a successful response
            success: function (response) {
                $('.grid-container').html('').wrapInner(response);
            },

            error: function (response) {
                console.log("not found");
                window.location.href = 'register';
            }
        });

        timer();
    }


    function nxt() {
        
        var t = pass_check();
        console.log(t);
        if(t!=false)
        {
            document.getElementById('next').hidden = true;
            document.getElementById('reset_pswd').hidden = false;
            disable_button();
            gpwd_set = new Set();
            document.getElementById("head_pass").innerHTML="New Password:";
            y.innerHTML='';
        }
        else
        {
            gpwd_set = new Set();
            $('.grid-container').html('').load(
                "{% url 'shuffle_img' %}"
            );
            timer();
        }
    }



    function pass_check() {
        event.preventDefault();
        var f=0;
        console.log("pass check!!");
        $.ajax({
            url: "{% url 'check_pass' %}",
            type: "POST",
            async: false,
            data: {
                password1 : Array.from(gpwd_set),
                csrfmiddlewaretoken: '{{ csrf_token }}', //This is must for security in Django
            }, // data sent with the post request

            // handle a successful response
            success: function (response) {
                $('.grid-container').html('').wrapInner(response);
            },

            error: function (response) {
                y.innerHTML="incorrect password ";
                f=1;
            }
        });
        if(f==1) return false;
}
    //submission part
    function post(path, params, method = 'post') {

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        const form = document.getElementById('reset_pass_form');
        form.method = method;
        form.action = path;
        console.log(params);

        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];
                form.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form);
        form.submit();
    }

var form = document.getElementById('reset_pass_form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        console.log("Reset password form submitted!");
        post('change_user_password', {
            password1: pswd1,
            password2: Array.from(gpwd_set),
        })
    });



</script>
{% endblock body %}