{% extends 'index.html' %}
{% load mathfilters %}
{% load myfilters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}contactus{% endblock title %}
    {% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    {% endblock head %}
</head>

<body>
    {% block body %}
<div class="form-body">
  <div class="website-logo">
    <a href="index.html">
    </a>
</div>
<div class="d-flex p-2 justify-content-center form-content ">
    <h3 class="d-flex p-2">Contact Us</h3>
  </div>   
  <head> 
    <div style="background-color:#fff;width:50%;text-align:center;padding:2px;margin:0 auto">
  <form class="row g-3">
      <div class="col-md-6">
        <label for="inputFirstname" class="form-label"> First Name</label>
        <input type="name" class="form-control" id="inputFirstname">
      </div>
      <div class="col-md-6">
        <label for="inputLastname" class="form-label">Last name</label>
        <input type="name" class="form-control" id="inputLastname">
      </div>
      <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">Comments</label>
    </div>
     
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </head>
  </div>

</div>
</div>
</div>
</div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock body %}
</body>

</html>