<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>
      {% block title %}Graphical Password Authentication {% endblock title %}
    </title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.min.css' %} "
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/fontawesome-all.min.css' %} "
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/iofrm-style.css' %} "
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/iofrm-theme6.css' %} "
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/our_css.css' %} "
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css"
    />
    <meta charset="utf-8" />

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                View More
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="#">Web Development</a></li>
                <li><a class="dropdown-item" href="#">Web Designing</a></li>
                <li>
                  <a class="dropdown-item" href="#">Android Development</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
          <div class="d-flex">
            <!-- <div class="dropdown">
              <button
                class="btn btn-light dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Our Products
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Product One</a></li>
                <li><a class="dropdown-item" href="#">Product Two</a></li>
                <li><a class="dropdown-item" href="#">Product Three</a></li>
              </ul>
            </div> -->
            {% if user.is_authenticated %}
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Welcome {{request.user}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/logout">Logout</a>
                <a class="dropdown-item" href="{% url 'user_profile' user %}"
                  >Dashboard</a
                >
              </div>
            </div>
            {% else %}
            <div class="text-end">
              <button
                type="button"
                onclick="location.href='/login'"
                class="btn btn-outline-light me-2"
              >
                Login
              </button>
              <button
                type="button"
                onclick="location.href='/register'"
                class="btn btn-warning"
              >
                Register
              </button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- Bootstrap JS -->
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>

    {% block head %}{% endblock head %}
  </head>
  <body>
    {% block body %} {% endblock body %}
  </body>
</html>
