{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Login{% endblock title %}
    {% block head %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        
        {% comment %} function disable_button()
        {
            var imagesList = document.getElementsByClassName('img_btn');
            for(var i=0;i<imagesList.length;i++)
            {
                imagesList[i].disabled=true;
            }
        }
        function enable_button()
        {
            var imagesList = document.getElementsByClassName('img_btn');
            for(var i=0;i<imagesList.length;i++)
            {
                imagesList[i].disabled=false;
            }
        } {% endcomment %}
        window.onload = function()
            {
                document.getElementById("images").hidden=true;
                enable_button();
            }
            

            
    </script>
    {% endblock head %}
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/iofrm-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/iofrm-theme6.css' %}">
    {% endblock style %}
</head>
<body style="padding-top: 55px;">
    {% block body %}
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Authenticate</h3>
                        
                        <div class="page-links">
                            <a href="login" class="active">Login</a><a href="register">Register</a>
                        </div>
                        <form id="login_form" action="" method="post">
                            {% csrf_token %}
                            <div id="prompt1"></div>
                            <div id="prompt2"></div>
                            {% if email %}
                            <input class="form-control" onload="nxt()" type="text" name="email" id="email" placeholder="E-mail Address" required value='{{email}}'>
                            
                            {% else %}
                            <input class="form-control" type="text" name="email" id="email" placeholder="E-mail Address" required>
                            {% endif %}
                            <p id="info" ></p>
                            <p id="time"></p>
                                <!-- form button  -->
                            <div class="form-button">
                                <div class="grid-container" id='images'>
                                    {% include 'grid.html' %}
                                </div>
                                <button id="next" style="margin-left: 5px;" type="button" class="ibtn" onclick="nxt()">Next</button> 
                                <button id="login" style="margin-left: 5px;" type="submit" hidden class="ibtn">Login</button> <a href="{% url 'reset_password' %} ">Forget password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

    

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/common_js.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>

<script>
    var csrf_token = '{{ csrf_token }}'; 

</script>
{% endblock body %}
</body>
</html>