{% extends 'index.html' %}
{% load myfilters %}
{% block head %} 
<style>
	html,body { height: 100%; }
	
	.reset_pswd{
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-align: center;
		-ms-flex-pack: center;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
		background-color: #f5f5f5;
	}

	
	form{
		padding-top: 10px;
		font-size: 14px;
		margin-top: 30px;
	}
	
	.card-title{ font-weight:300; }
	
	.btn{
		font-size: 14px;
		margin-top:20px;
	}
	
	.login-form{ 
		width:320px;
		margin:20px;
	}
	
	.sign-up{
		text-align:center;
		padding:20px 0 0;
	}
	
	span{
		font-size:14px;
	}
	</style>
	
{% endblock head %}


{% block body %}
<div class="reset_pswd">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Enter new password</h3>
                <div class="card-text">
                    
						<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

						<form method="post">
							<div class="form-group">
								{% csrf_token %}
									{% if form.non_field_errors %}
										{% for error in form.non_field_errors %}
											<p>{{error}}</p>
										{% endfor %}
									{% endif %}

									{% for form_item in form %}
										{{form_item.label}}
										{{form_item | addcss:'form-control form-control-sm mt-3'}} <br>
										{{form_item.errors}}
									{% endfor %}

								<input type="Submit" class="btn btn-primary btn-block" name="Update Password" value="Update Password">
							</div>
						</form>
					
                </div>
        </div>
    </div>
</div>


{% endblock body %}