{% extends 'index.html' %}
{% load myfilters %}
{% block head %} 
<style>
	html,body { height: 100%; }
	
	.reset_pswd{
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-align: center;
		-ms-flex-pack: center;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
		background-color: #f5f5f5;
	}
	
	form{
		padding-top: 10px;
		font-size: 14px;
		margin-top: 30px;
	}

	.form-group
	{
		color: red;
	}
	
	.card-title{ font-weight:300; }
	
	.btn{
		font-size: 14px;
		margin-top:20px;
	}
	
	.login-form{ 
		width:320px;
		margin:20px;
	}
	
	.sign-up{
		text-align:center;
		padding:20px 0 0;
	}
	
	span{
		font-size:14px;
	}
	</style>
	
{% endblock head %}

{% block body %}

<div class="reset_pswd">
<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Reset password</h3>
			<div class="card-text">
				<form method="post" action = 'sendPasswordResetLinkToUser'>
					{% csrf_token %}
					<div class="form-group">
						{% if form.non_field_errors %}
							{% for error in form.non_field_errors %}
							<p>{{error}}</p>
							{% endfor %}
						{% endif %}
						{% for form_item in form %}
						<p style="color: black;">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
							<!-- {{form_item.label_tag}} -->
							{{form_item | addcss:'form-control form-control-sm mt-3'}}
							{{form_item.errors|striptags}}
						{% endfor %}
					</div>
					<center><button type="submit" class="btn btn-primary btn-block" name="Send email">Send password reset email</button></center>

				</form>

				<!-- <form method="post">

					{% csrf_token %}
					{{form}}
					<input type="Submit" name="Send email">
					
				</form> -->
			</div>
	</div>
</div>
</div>
{% endblock body %}
