{% extends 'index.html' %}
{% load myfilters %}
{% block head %} 
<style>
	html,body { height: 100%; }
	
	.reset_pswd{
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-align: center;
		-ms-flex-pack: center;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
		background-color: #f5f5f5;
	}
	
	form{
		padding-top: 10px;
		font-size: 14px;
		margin-top: 30px;
	}
	
	.card-title{ font-weight:300; }
	
	.btn{
		font-size: 14px;
		margin-top:20px;
	}
	
	.login-form{ 
		width:320px;
		margin:20px;
	}
	
	.sign-up{
		text-align:center;
		padding:20px 0 0;
	}
	
	span{
		font-size:14px;
	}
	</style>
	
{% endblock head %}


{% block body %}
<div class="reset_pswd">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center"> <strong> Password reset complete </strong></h3>
                <div class="card-text">

                        <p>Your password has been set. You may go ahead and log in now.</p>

                        <a href="/login">Log in</a>
                </div>
        </div>
    </div>
</div>

{% endblock body %}